body {
    background-color: rgb(225, 238, 241);
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: grid; /* グリッドレイアウトを使用 */
    grid-template-columns: repeat(3, 1fr); /* 初期状態で3列 */
    gap: 20px; /* スペースの調整 */
    padding: 20px;
    width: 100%; /* 幅を100%に設定 */
    box-sizing: border-box; /* ボックスのサイズ調整 */
}

.container div {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(200, 198, 198);
    box-sizing: border-box; /* ボックスのサイズ調整 */
    width: 100%; /* 幅を100%に設定 */
}

.blue {
    background-color: #e6f7ff;
}

.orange {
    background-color: #fff2e6;
}

.purple {
    background-color: #f9e6ff;
}

/* 画面幅が1200px以下の場合は3列 */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 画面幅が900px以下の場合は2列 */
@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 画面幅が600px以下の場合は1列 */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

img {
    max-width: 100%; /* 画像が親要素からはみ出さないように */
    height: auto;
    border-radius: 4px;
}