
h1{
    color:rgb(6, 224, 17);
}

h2{
    color:rgb(0, 98, 255);
}
a{
    color:rgb(255, 85, 0);
}
th {
    background-color: rgb(247, 237, 220);
    width: 50%;
}
td {
    width: 0%;
}